<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
</head>

<body>
    <h1>CRUD in monogodb</h1>
    <form action="/addData" method="post">
        <input type="text" name="book" placeholder="Enter your book name">
        <input type="text" name="author" placeholder="Enter your book author">
        <input type="number" name="price" placeholder="Enter your book price">
        <button type="submit">Submit</button>
    </form>
    <table width="100%" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Book</th>
                <th>Price</th>
                <th>Author</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <%data.map((e,i) => {%>
               <tr>
                  <td><%=e.id%></td>
                  <td><%=e.book%></td>
                  <td><%=e.price%></td>
                  <td><%=e.author%></td>
                  <td><button><a href="/editData?id=<%=e.id%>">Edit</a></button></td>
                  <td><button><a href="/deleteData?id=<%=e.id%>">Delete</a></button></td>
               </tr>
            <%})%>
        </tbody>
    </table>

</body>
</html>